<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Cupcake Shop{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<header class="topbar">

    <a class="brand" href="{{ url_for('home') }}">
        <span>🧁</span>
        Cupcake Shop
    </a>

    <nav>

        {% if session.get("usuario_id") %}

            <span class="user-name">
                Olá, {{ session.get("usuario_nome") }}
            </span>

            <a
                href="{{ url_for('logout') }}"
                class="nav-link"
            >
                Sair
            </a>

        {% else %}

            <a
                href="{{ url_for('login') }}"
                class="nav-link"
            >
                Entrar
            </a>

        {% endif %}

      <a href="{{ url_for('carrinho') }}" class="cart-button">
    🛒 Carrinho
</a>

    </nav>

</header>


<main>
    {% block content %}
    {% endblock %}
</main>


<footer>

    <strong>
        Cupcake Shop
    </strong>

    <span>
        Projeto acadêmico — PIT II
    </span>

</footer>


<script
    src="{{ url_for('static', filename='js/app.js') }}"
></script>

</body>

</html>
